#userInput input{
    background: transparent;
}
#userInput input:focus{
    outline: none;
}
#messageContainer::-webkit-scrollbar{
    appearance: none;
    display: none;
}
.social-icons i:hover{
    color: rgb(0, 166, 231);
    transform: scale(1.5);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}